.Customer {
  width: 5rem;
  height: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 40px;

  margin: 0.25rem;
}

.Customer > h1 {
  font-size: 16px;
}
