.Checkout {
  margin: 1rem;
}

.Checkout > form > input {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.Number {
  width: 10rem;
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.SubmitCheckout {
  width: 5rem;
  height: 2.5rem;
}
